@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;
}

h1 {
  font-weight: 800;
}

.title {
  align-items: flex-start;
}

h2 {
  font-weight: 700;
  font-size: 16.5pt;
}

h3 {
  font-weight: 600;
  font-size: 14.5pt;
  margin-bottom: 2pt;
}

h4 {
  font-weight: 550;
  font-size: 14.5pt;
  text-align: center;
}

figure img {
  width: auto;
  /* aspect-ratio: 1; */
  object-fit: cover;
  /* float: right; */
  border-radius: 8pt;
}

figcaption {
  font-style: italic;
  font-size: 10pt;
  text-align: left;
}

pre {
  font-size: 12pt;
  font-weight: 400;
  /* font-family: "Inter", sans-serif; */
}

#fontchange {
  padding-bottom: 1.5em;
}

.header {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.header img {
  width: 50%;
  object-fit: cover;
  border-radius: 5pt;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  margin-top: 2em;
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  color: #f06;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5pt;
}

.assignment p {
  margin-top: 0.5em;
}

.block {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1px;
  margin-top: 2em;
  /* padding-left: 10px; */
  /* align-items: first baseline; */
}

#intro {
  padding-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1px;
  margin-top: 2em;
  align-items: first baseline;
}

.block img {
  width: auto;
  aspect-ratio: 1;
  object-fit: cover;
  float: left;
  border-radius: 8pt;
}

.column {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  margin-top: 1em;
  /* align-items: center; */
}

#row-content {
  border: 2px;
  border-top-style: groove;
  padding-top: 15px;
  padding-bottom: 15px;
}

#para-end {
  border: 2px;
  border-bottom-style: groove;
}

.row-column {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1px;
  margin-top: 1em;
}

.row {
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  margin-top: 1em;
}

.row img {
  margin-top: 1em;
  align-items: center;
}

.center {
  text-align: center;
  margin-top: 2em;
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 8pt;
}

/* #rotate { */
  /* transform: rotate(270deg); */
  /* gap: 10px; */
  /* align-items: center; */
  /* padding-top: -30px; */
/* } */
/*  */
/* #column-split { */
  /* border: 2px; */
  /* border-left-style: groove; */
  /* padding-left: 15px; */
/* } */